/* Color Palette - Dust Palette
  #a98972 taupe (main color) 
  #ab3723 reddish
  #402e32 purply blackish
    #665256 lighter shade of purply blackish
  #dfe0df white
 */

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  background: #a98972;
  font-family: sans-serif;
}

h2{
  color: #dfe0df;
  text-align: center;
  text-shadow: 0 0 10px #402e32;
  letter-spacing: 0.125em;
  text-transform: uppercase;
}


/* Scroll To Top Icon */
#scroll-top {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #ab3723;
  box-shadow: 0 0 10px #402e32;
  color: #dfe0df;
  outline: none;
  border:none;
  cursor: pointer;
}


/* Hero Section */
.hero-image {
  position: relative;
  height: 100vh;
  overflow: hidden;
  background: url(../img/beach.jpg);
  background-size: cover;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #dfe0df;
  font-weight: 700;
  text-transform: uppercase;
}

.container h1 {
  font-size: 72px;
  letter-spacing: 0.2em;
}

.container h1 span {
  border: 10px solid #dfe0df;
  padding: 16px 14px;
  display: inline-block;
}

.description {
  margin: 20px;
  display: block;
  font-size: 26px;
  text-shadow: 0 0 10px black;
}


.site-container {
  margin-left: 3em;
  margin-right: 3em;
}

/* Navigation Section */
.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;

  background: linear-gradient(90deg, #402e32, #ab3723);
  padding: 20px 0 20px 0;
  box-shadow: 1px 1px 10px black;
}

.nav-bar > a {
  color: #402e32;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  
  padding: 10px 10px;
  margin: 1%;

  background: #dfe0df;
  border-radius: 8px;
  transition: 0.3s all;
}

.nav-bar > a:hover {
  opacity: 0.8;
}

@media(max-width: 500px){
  .nav-bar {
    flex-direction: column;
  }
  .nav-bar > div {
    margin-top: 2%;
    margin-bottom: 2%;
  }
  .nav-bar > a {
    width: 65%;
    margin-left: auto;
    margin-right: auto;
  }
}


/* Intro Section */
#intro {
  color: #dfe0df;
}
#intro-heading{
 text-align: center;
 text-shadow: 0 0 10px #402e32;
 letter-spacing: 0.1m;
 text-transform: uppercase;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 2em 1em 2em 1em;
}

.grid-left {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2em;
}

.grid-right {
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 1em;
  font-size: 18px;
  text-shadow: 0 0 10px #402e32;

  background-color: #ab3723;
  box-shadow: 2px 2px 10px #402e32;
  border-radius: 1em;
}

@media(max-width:900px) {
  .grid-container {
    display: flex;
    flex-direction: column-reverse;
  }
}

#emory-pic {
  width: 70%;
  border-radius: 100%;
  box-shadow: 0 0 15px #402e32;
  margin: auto;
}


/* Skills Section */
#skills {
  color: #dfe0df;
  list-style: none;

  background: #402e32;
  border-radius: 1em;
  box-shadow: 0 0 15px #402e32;
  padding: 2em;

  
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}
#skills li {
  margin: 20px auto;
}

.bar {
  background: #665256;
  display: block;
  height: 6px;
  border: 1px solid rgba(0,0,0, 0.3);
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 0 10px #ab3723;
}

.bar span {
  height: 6px;
  float: left;
  background: #ab3723;
}
.html {
  width: 90%;
  animation: skills 5s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
}
.css {
  width: 69%;
  animation: skills 5s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
}
.javascript {
  width: 50%;
  animation: skills 5s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
}
.jquery {
  width: 20%;
  animation: skills 5s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
}

@keyframes skills{
  0% {
    width: 0;
  }
}


/* Experience Section */
#experience {
  background: #ab3723;
  color: #dfe0df;
  font-size: 18px;
  text-shadow: 0 0 10px #402e32;

  width: 80%;
  margin-left: auto;
  margin-right: auto;

  
  border-radius: 1em;
  box-shadow: 0 0 15px #402e32;
  margin-top: 2em;
  padding: 2em;
}

.job-container {
  display: flex;
  flex-direction: column;
}

.job {
  list-style: none;
}

.employer {
  font-weight: 700;
  letter-spacing: 0.125em;
  text-transform: uppercase;
}

.employer > span {
  font-weight: normal;
  text-shadow: none;
}

.job-title {
  font-style: italic;
  font-weight: 500;
  letter-spacing: 0.125em;
  text-transform: uppercase;
}

.duration {
  font-size: 12px;
  font-weight: normal;
  letter-spacing: 0.125em;
  text-transform: uppercase;
}


/* Education Section */

#education {
  color: #dfe0df;
  background: #402e32;
  font-size: 18px;
  text-shadow: 0 0 10px #665256;

  width: 80%;
  margin-left: auto;
  margin-right: auto;

  border-radius: 1em;
  box-shadow: 0 0 15px #402e32;
  margin-top: 2em;
  padding: 2em;
}

.uni > span{
  font-weight: normal;
  text-shadow: none;
}

.uni-container > ul {
  list-style: none;
}

.uni {
  font-weight: 700;
  letter-spacing: 0.125em;
  text-transform: uppercase;
}

.major {
  font-style: italic;
  font-weight: 500;
  letter-spacing: 0.125em;
  text-transform: uppercase;
}


/* Achievements Section */
#achievements {
  color: #dfe0df;
  background: #ab3723;
  font-size: 18px;
  text-shadow: 0 0 10px #402e32;

  width: 80%;
  margin-left: auto;
  margin-right: auto;

  border-radius: 1em;
  box-shadow: 0 0 15px #402e32;
  margin-top: 2em;
  padding: 2em;
}

 #achievements > ul {
  list-style: none;
 }

 .a-name {
  font-weight: 700;
  letter-spacing: 0.125em;
  text-transform: uppercase;
  padding: 0.5em 0;
 }


/* About Section */
#about {
  color: #dfe0df;
  background: #402e32;
  font-size: 18px;
  text-shadow: 0 0 10px #402e32;

  width: 80%;
  margin-left: auto;
  margin-right: auto;
  

  border-radius: 1em;
  box-shadow: 0 0 15px #402e32;
  margin-top: 2em;
  
  padding: 2em;
}

.goal-container {
  margin: 0 2em;
}

/* footer section */
#footer {
  background: #ab3723;
  color: #dfe0df;
  font-weight: 500;
  text-shadow: 0 0 10px #402e32;

  margin-top: 2em;
  margin-bottom: -1em;

  padding: 1em 2em;
}

.foot-grid {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.foot-grid * {
  list-style: none;
  text-align: left;
}

.foot-h3 {
  margin: 0;
  padding: 0;
}

.signature {
  text-align: center;
}

@media(max-width: 500px){
  .foot-grid{
    display: flex;
    flex-direction: column;
  }
}

#footer a:link {
  color: #dfe0df;
  text-decoration: none;
}
#footer a:visited {
  color: #dfe0df;
  text-decoration: none;
}
#footer a:hover {
  color: #402e32;
}
#footer a:active {
  color: #a98972;
  text-decoration: none;
}

hr {
  color: #402e32;

}

/* Section Margins  */
@media(max-width: 900px){
  .site-container {
    margin-left: auto;
    margin-right: auto;
  }
  #about, #achievements, #education, #experience {
    width: 90%;
    padding-left: 1em;
    padding-right: 1em;
  } 
}




